{{> header }}
{{> navbar }}
 <br>
 
<div class="container content border-box mt-5">
        <div class="ms-3 mb-2 float-right">
  <a href="/addkab"><button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"> Tambah Kabupaten</i></button></a>
            </div>
        <div class="col-12 box-shadow rounded">
			<div class="row">
			{{#each data}}
  <div class="card detail mb-3 ms-3 float-left" style="width: 35%;">
  <img class="card-img-top" src="/public/image/{{photo}}" height="300px" alt="Card image cap">
    </div>
      <div class="card detail mb-3 ms-3" style="width: 60%;">
          <h1>{{name}}</h1>
        <p>Nama Kabupaten : {{name}}</p>
        <p>Tanggal Berdiri: {{diresmikan}}</p>
        <p>Berada di Provinsi :{{prov_name}}</p>
        <div class="row">
      <div class="ms-auto col-3 "><a href="/deletekab/{{id}}"><button class="btn btn-danger text-center" style="width: 100%;" >Hapus</button> </a></div>
        <div class="col-3 me-4"><a href="/editkab/{{id}}"> <button class="btn btn-warning text-center" style="width: 100%;">Edit</button> </a></div>
        </div>
            </div>
	{{/each}}
	</div>
    </div>
    </div>
    </div>
     <footer class="text-center mt-5 footer bg-danger px-2 py-4 text-light fs-3"> Created by Amirul Ikhsan </footer>

{{> footer }}  